.edit_product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    border-radius: 6px;
    background: white;
    position: relative;
    margin-left: 250px;
    margin-bottom: 220px;
    
}
.editproduct_itemfield{
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
}
.editproduct_itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poopins';
    font-size: 14px;
}
.editproduct_price{
    display: flex;
    gap: 40px;
}


.editproduct_btn{
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #2ecfcf;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
.editproduct_btn:hover{
    background-color: aqua;
}
@media(max-width:800px){
    .edit_product{
        width: auto;
        padding: 30px;
        margin: 20px;
        margin-top: 80px;
    }
}