.offers_main{
    background: linear-gradient(180deg, #f5f8dc 0%, #4b659c22 60% );
}
.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #f4bdf7, #7fc58e22 60%);

    
}
.offers_left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers_left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
.offers_left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}
.offers_left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
@media(max-width:1280px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 50px;
    }
    .offers_left h1{
        font-size: 40px;
    }
    .offers_left p{
        font-size: 18px;
    }
    .offers_right{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .offers_right img{
        width: 250px;
        margin-right: 20px;
    }
    .offers_left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
}
@media(max-width:1024px){
    .offers{
        padding: 0px 50px;
        margin-bottom: 50px;
        height: 40vh;
    }
    .offers_left h1{
        font-size: 30px;
    }
    .offers_left p{
        font-size: 16px;
    }
    .offers_right{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .offers_right img{
        width: 180px;
        margin-right: 30px;
    }
    .offers_left button{
        width: 170px;
        height: 40px;
        font-size: 16px;
    }
}
@media(max-width:800px){
    .offers{
        margin-bottom: 30px;
    }
    .offers_left h1{
        font-size: 22px;
    }
    .offers_left p{
        font-size: 13px;
    }
    .offers_right{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .offers_right img{
        width: 160px;
        margin-right: 30px;
    }
    .offers_left button{
        width: 130px;
        height: 35px;
        font-size: 13px;
    }
}
@media(max-width:500px){
    .offers{
        height: 25vh;
        margin-bottom: 50px;
    }
    .offers_left h1{
        font-size: 16px;
    }
    .offers_left p{
        font-size: 8px;
    }
    .offers_right{
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    .offers_right img{
        width: 110px;
        margin-left: 70px;
        
    }
    .offers_left button{
        width: 120px;
        height: 30px;
        font-size: 11px;
        margin-top: 10px;
    }
}