.cartitems{
    margin: 100px 120px;
}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitem_format_main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitem_format{
    font-size: 17px;
    font-weight: 500;
}
.carticon_product_icon{
    height: 62px;   
}
.cartitem_remove_icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem_quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    margin-left: 10px;
}
.cartitem_price{
    margin-left: 10px;
}
.cartitem_total{
    margin-left: 10px;
}


.catritam_down{
    display: flex;
    margin: 100px 0px;
}
.cartitem_total_price{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitem_total_item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitem_total_price .payment_btn{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}
.cartitem_total_price .payment_btn:hover{
    background: blue;
}
.cartitem_promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitem_promocode p{
    color: #555;
}
.cartitem_promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitem_promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitem_promobox .payment_btn{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}
/*------------------ modal -----------------------*/
body.active-modal {
    overflow-y: hidden;
}
.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;   
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;  
    
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    
}
.modal-content h1{
    margin-top: 20px;
}
.modal-content p{
    background-color: #e2e2e2;
    padding: 10px 0px;
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.modal-content .tk{
    width: 50%;
    display: inline-block;
}
.modal-content .pay_btn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.modal-content .pay_btn:hover{
    background-color: blue;
}
.close-modal {
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 5px 7px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
#cardElement{
    margin: 20px 0px;
    font-weight: 600;
}
@media(max-width:1280px){
    .cartitems{
        margin: 60px 50px;
    }
    .cartitem_format_main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .carticon_product_icon{
        height: 50px;
    }
    .cartitem_remove_icon{
        margin: auto;
    }
    .cartitem_quantity{
        width: 40px;
        height: 30px;
    }
    .catritam_down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 80px;
    }
    .cartitem_total_price{
        margin: 0px;
    }
    .cartitem_total_price .payment_btn{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitem_promobox{
        width: auto;
        max-width: 500px;
    }
    .cartitem_promobox input{
        width: 100%;
    }
    .cartitem_promobox .payment_btn{
        width: 120px;
        margin-left: -125px;
    }
}
@media(max-width:500px){
    .cartitem_format_main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartitem_format{
        display: grid;
    }
}