.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: white;
    position: absolute;
}
.sidebar_item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 10px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.orderlist{
    gap:15px;
    padding: 6px 0px;
}
.orderlist p{
    margin-right: 20px;
}
.orderlist_icon{
    filter: invert(73%) sepia(61%) saturate(330%) hue-rotate(7deg) brightness(98%) contrast(88%);
    height: 40px;
}

@media(max-width:800px){
    .sidebar{
        padding: 30px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    }
    .sidebar_item{
        margin: 0;
    }
}