.list_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    border-radius: 6px;
    background: white;
    position: relative;
    margin-left: 250px;
    background: white;
    
}
.list_product h1{
    margin-top: 30px;
}
.listproduct_format_main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr .5fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
}

.listproduct_format{
    align-items: center;
    font-weight: 500;
    grid-template-columns: 1fr 2.6fr 1.2fr 1.2fr 1fr .5fr;
}
.listproduct_product_icon{
    height: 80px;
}
.listproduct_remove_icon{
    cursor: pointer;
    margin: auto;
}
.listproduct_allproduct{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}
@media(max-width:800px){
    .list_product{
        box-sizing: border-box;
        width: 95%;
        height: 100%;
        padding: 10px 30px;
        margin: 20px auto;
        margin-top: 100px;
    }
    .listproduct_format_main{
        padding: 15px 0px;
        color: #454545;
        font-size: 12px;
    }
    .listproduct_product_icon{
        height: 60px;
    }
}
