.my_orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 6px;
    background: white;
    padding-top: 30px;
    
    background: white;
}
.my_orders h2{
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline;
}
.my_orders_format{
    display: grid;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 15px;
    font-weight: 600;
    grid-template-columns: 3fr 1.3fr 1fr .9fr;
}
.my_orders_format .name{
    margin-left: 50px;
}
.my_orders_format p{
    font-size: 20px;
    font-weight: 600;
    
}
.my_orders .container{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
}
.my_orders_order{
    display: grid;
    grid-template-columns: 2.2fr 1fr 1.2fr .8fr;
    align-items: center;
    gap: 30px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 20px;
    color: #454545;
    
}
.my_orders_order p{
    font-size: 16px;
}
.my_orders_order p span{
    color: tomato;
}
.my_orders_order p b{
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}


@media(max-width:1024px){
    .my_orders_format p{
        font-size: 16px;
    }
    .my_orders_order p{
        font-size: 13px;
    }
    .my_orders_order p b{
        font-size: 13px;
    }
}
@media(max-width:800px){
    .my_orders_format{
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .my_orders_order{
        grid-template-columns: 2.6fr 1fr 1fr 1fr;
    }
}
@media(max-width:500px){
    .my_orders_format{
        grid-template-columns: 2.2fr 1fr 1fr 1fr;
    }
    .my_orders_order{
        grid-template-columns: 2.6fr 1fr 1fr 1fr;
    }
}