.Hero {
    height: 90vh;
    /* background: linear-gradient(180deg, #feeaff, #7fc58e22 60%); */
    display: flex;
    background-color: #0b0683;

}

.Hero_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
    margin-bottom: 40px;
}

.Hero_left h2 {
    color: #fcfbfb;
    font-size: 26px;
    font-weight: 600;
}
.hero_title p {
    color: #ffffff;
    font-size: 80px;
    font-weight: 600;
    margin-top: 20px;
}
.hero_title span{
    color: rgb(255, 117, 117);
}

/* .Hero_hand_icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Hero_hand_icon img {
    width: 105px;
} */
.Hero_latest_btn{
    display: flex;
    gap: 15px;
}
.Hero_latest_btn button{
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 60px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.Hero_latest_btn button:hover {
    background: #ffffff;
    color: black;

}

.Hero_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero_right img {
    width: 500px;
    height: 500px;
    margin-bottom: 40px;
}

@media(max-width:1280px) {
    .Hero_left {
        padding-left: 100px;
    }

    .Hero_left h2 {
        font-size: 25px;
    }

    .Hero_left p {
        font-size: 70px;
    }

    .Hero_hand_icon img {
        width: 80px;
    }

    .Hero_latest_btn {
        gap: 10px;
        width: 270px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }

    .Hero_right img {
        width: 400px;
        height: 500px;
        margin-bottom: 40px;
    }

}

@media(max-width:1024px) {
    .Hero_left {
        padding-left: 80px;
    }

    .Hero_left h2 {
        font-size: 22px;
    }

    .Hero_left p {
        font-size: 60px;
    }

    .Hero_hand_icon img {
        width: 80px;
    }

    .Hero_latest_btn {

        width: 250px;
        height: 60px;
        font-size: 18px;
    }

    .Hero_right img {
        width: 350px;
        height: 450px;
        margin-bottom: 40px;
    }

}

@media(max-width:800px) {
    .Hero {
        height: 70vh;
    }

    .Hero_left {
        padding-left: 50px;
    }

    .Hero_left h2 {
        font-size: 28px;
    }

    .Hero_left p {
        font-size: 50px;
    }

    .Hero_hand_icon img {
        width: 60px;
    }

    .Hero_latest_btn {

        width: 210px;
        height: 50px;
        font-size: 14px;
    }

    .Hero_right img {
        width: 300px;
        height: 400px;
        margin-bottom: 40px;
    }

}

@media(max-width:500px) {
    .Hero {
        flex-direction: column;
        height: 450px;
    }

    .Hero_right {
        display: none;
    }


}