.description_box{
    margin-left: 20px;
}
.description_box form{
    display: flex;
    flex-direction: column;
}
.description_box form label{
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.description_box form textarea{
    width: 300px;
    height: 100px;
}
.description_box form button{
    width: 80px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: aqua;
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.description_box form button:hover{
    color: white;
   background-color: red;
}
.description_box h3{
    margin-top: 30px;
    color: white;
} 
.all_reviewList{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
.all_review{
    /* margin-top: 30px; */
    margin-left: 50px;
    color: white;
}
.all_review p{
    margin-left: 20px;
}
.all_review hr{
    margin-top: 10px;
    margin-bottom: 20px;
}